---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 5m
  prune: true
  path: ./infrastructure/talos/traefik
  sourceRef:
    kind: GitRepository
    name: flux-system
