---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  url: https://traefik.github.io/charts
  interval: 30m
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 37.3.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: false
  values:
    deployment:
      replicas: 2

    ports:
      web:
        port: 80
        nodePort: 30000
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        port: 443
        nodePort: 30001

    service:
      type: LoadBalancer

    api:
      dashboard: true
      insecure: false

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.docker.localhost`)
        entryPoints:
          - websecure
        middlewares:
          - name: dashboard-auth

    extraObjects:
      # The dashboard auth Secret is managed out-of-band and kept out of Git
      # see: /secrets/traefik-dashboard-auth.yaml (gitignored)
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: dashboard-auth
        spec:
          basicAuth:
            secret: dashboard-auth-secret

    # We will route with Gateway API instead.
    ingressClass:
      enabled: false

    experimental:
      kubernetesGateway:
        enabled: true

    # Enable Gateway API Provider & Disables the KubernetesIngress provider
    # Providers tell Traefik where to find routing configuration.
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true

    ## Gateway Listeners
    gateway:
      listeners:
        web:
          port: 80
          protocol: HTTP
          namespacePolicy:
            from: All

        websecure:
          port: 443
          protocol: HTTPS
          namespacePolicy:
            from: All
          mode: Terminate
          certificateRefs:
            - kind: Secret
              name: wildcard-hogwarts-zone-tls
              group: ""

    logs:
      general:
        format: json
        level: INFO
      access:
        enabled: true

    metrics:
      prometheus:
        enabled: true
