---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install yamllint
        run: |
          python -m pip install --upgrade pip
          pip install yamllint

      - name: Run yamllint
        run: |
          yamllint .

      - name: yamlfmt
        run: |
          go install github.com/google/yamlfmt/cmd/yamlfmt@main -conf .yamlfmt.yaml -lint .

    # - name: Kustomize build
    #   run: |
    #     go run sigs.k8s.io/kustomize/kustomize/v5@latest build .
